
body{
    background-color: rgba(137, 43, 226, 0.437) !important;
}

.come{
    transform: translateX(-500px);
    color: white;
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
}



/* .mycard{
    width: 20%;
    
}  */


.hello{
    display: flex;
    flex-direction: column;
margin: 10px;
}