
body{
    background-color: brown;
}

.come{
    transform: translateX(-500px);
    color: white;

}



/* .mycard{
    width: 20%;
    
}  */


.hello{
    display: flex;
    flex-direction: column;
margin: 10px;
}